*{ -webkit-tap-highlight-color: rgba(0,0,0,0); }

a {
  color: var(--color-tx-normal);
  text-decoration: underline;

  &:hover {
    color: var(--color-action);
    border-color: var(--color-action);
  }

  &:focus {
    outline: none;
    background-color: transparent;
    text-decoration: underline;
    color: var(--color-action);
  }

  &.plain,
  &.muted {
    text-decoration: none;
  }
}

article {
  a:not(.plain):not(.tag):not(.internal-link):not(.footnote):not(.reversefootnote):not([href^="#"]):not([href^="/"]) {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='2.5' stroke='gray' class='w-6 h-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25' /%3E%3C/svg%3E%0A");
    background-position: right 33%;
    background-repeat: no-repeat;
    background-size: 0.7em;
    padding-right: 0.75em;
  }
}

.invalid-link {
  color: var(--color-tx-muted);
  text-decoration: underline;
  text-decoration-color: var(--color-ui-normal);
  cursor: not-allowed;
}