ul > li {
    list-style: disc;
  }
  ol, ul {
      padding: 0.5rem 0 1rem 1em;
      margin: 0 0 0 0.5em;
  }
  ol > li,
  ul > li {
    padding: 0.15rem 0;
    &::marker {
      color: var(--color-tx-faint);
    }
  }
  ul > li {
    &::marker {
      font-size: 85%;
    }
  }
  
  ul.list-plain > li {
    list-style: none;
  }
  
  @media (min-width: var(--media-phone)) {
    ul.list-plain {
      padding-inline-start: 0;
      margin-left: 0;
    }
  }
  
  @media (max-width: var(--media-phone)) {
    ol > li,
    ul > li {
      padding: 0.25rem 0;
    }
  }