<div class="pn2" style="padding-top: 0;">
  
  <div class="small font-ui" style="margin-top: 3rem;">
    <p>Follow me via <a href="{{ site.baseurl }}/feed.xml" class="internal-link">RSS</a>, <a href="https://x.com/{{ site.twitter_username }}" target="_blank" rel="noopener noreferrer">𝕏</a>, or <a href="mailto:your-email@example.com">email</a></p>
    {% include daily_stoic.html %}
  </div>
</div>



<!-- Dark mode toggle script -->
<script>
  var darkModeToggle = document.querySelector("#theme-toggle");

  function toggleTheme() {
    document.body.classList.toggle("theme-dark");
    updateThemeState();
  }

  function updateThemeState() {
    let isDarkMode = document.body.classList.contains("theme-dark");
    let theme = isDarkMode ? "dark" : "light";
    localStorage.setItem("theme", theme);
    darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
  }

  function initializeTheme() {
    let isDarkMode = document.body.classList.contains("theme-dark");
    darkModeToggle.setAttribute("aria-checked", isDarkMode.toString());
  }

  darkModeToggle.addEventListener("click", toggleTheme);

  window.addEventListener('keydown', function(e) {
    if (document.activeElement.tagName === 'INPUT' || document.activeElement.tagName === 'TEXTAREA') {
      return;
    }
    if ((e.key === 'd' || e.key === 'D') && !e.ctrlKey && !e.metaKey) {
      toggleTheme();
    }
  });

  initializeTheme();
</script>
