<div class="flex align-center font-ui">
  <span class="flex-grow">
    <a class="internal-link plain site-title-link" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/images/profile.jpg" alt="{{ site.author }}" class="avatar-image">
      <span class="site-title">{{ site.title }}</span>
    </a>
  </span>
  <span class="flex-shrink ssr">
    <a href="{{ site.baseurl }}/writing" class="muted plain">Writing</a>
    <a href="{{ site.baseurl }}/about" class="muted plain ssl">About</a>
    <a href="{{ site.baseurl }}/now" class="muted plain ssl mh">Now</a>
    <a href="{{ site.baseurl }}/search" class="muted plain ssl mh">Search</a>
  </span>
  <span id="theme-toggle" title="Toggle dark mode" aria-label="Toggle dark mode" type="button" role="switch">
    <div class="theme-toggle-slide"></div>
    <div class="theme-toggle-switch"></div>
  </span>
</div>
