#theme-toggle {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: var(--color-ui-normal);
  border-radius: 10px;
  cursor: pointer;
  margin-left: 1em;
  transition: background-color 0.3s;
}

.theme-toggle-slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
}

.theme-toggle-switch {
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 2px;
  width: 16px;
  background-color: var(--color-bg-primary);
  border-radius: 8px;
  transition: transform 0.3s, background-color 0.3s;
}

.theme-dark #theme-toggle {
  background-color: var(--color-action);
}

.theme-dark .theme-toggle-switch {
  transform: translateX(16px);
}

// Dark mode styles
body {
  transition: background-color 0.3s, color 0.3s;
}

.theme-dark {
  --color-bg-primary: #111;
  --color-tx-normal: #eee;
  --color-tx-muted: #bbb;
  --color-tx-faint: #777;
  --color-ui-normal: #333;
  --color-ui-hover: #444;
  --color-action: #4a7eff;
  --color-selection: rgba(74, 126, 255, 0.2);
  --color-highlight: rgba(255, 245, 150, 0.2);
  
  img {
    filter: brightness(0.9);
  }
}

.plain {
  text-decoration: none;
  color: inherit;
}

.pn2 {
  padding: 2rem 0;
}

.bt {
  border-top: 1px solid var(--color-ui-normal);
}

.ssl {
  margin-left: 0.5rem;
}

.ssr {
  margin-right: 0.5rem;
}

.round {
  border-radius: 50%;
}

.anchor {
  opacity: 0;
  margin-left: 0.5em;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--color-tx-muted);
}

h2:hover .anchor,
h3:hover .anchor,
h4:hover .anchor,
h5:hover .anchor,
h6:hover .anchor {
  opacity: 1;
}
  
  
  